


@font-face{
    font-family: "SF Pro Text Regular";
    src: url("../fonts/SF-Pro-Text-Regular.otf")format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: "SF Pro Text Bold";
    src: url("../fonts/SF-Pro-Text-Bold.otf")format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face{
    font-family: "Acta Italic";
    src: url("../fonts/acta-display-book-italic.otf")format("opentype");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Ramillas Regular";
    src: url("../fonts/tt_ramillas_black.otf")format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face{
    font-family: "Corbert Wide Demi";
    src: url("../fonts/CorbertWide-Bold.otf")format("opentype");
    font-weight:700;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "SF Pro Display Medium";
    src: url("../fonts/SF-Pro-Display-Medium.otf")format("opentype");
    font-weight:600;
    font-style:normal;
    font-display:swap;
}

@font-face{
    font-family: "Ramillas Bold Italic";
    src: url("../fonts/Ramillas-Bold-Italic.ttf")format("truetype");
    font-weight:600;
    font-style:normal;
    font-display:swap;
}