.elementor-686 .elementor-element.elementor-element-f26a5d0.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-686 .elementor-element.elementor-element-f26a5d0>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-686 .elementor-element.elementor-element-e9f84cc {
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: var(--e-global-color-dc99f8e);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 80px 0px 120px 0px;
}

.elementor-686 .elementor-element.elementor-element-e9f84cc>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-686 .elementor-element.elementor-element-160046e.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-686 .elementor-element.elementor-element-160046e.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-686 .elementor-element.elementor-element-160046e.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-686 .elementor-element.elementor-element-160046e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 32px;
}

.elementor-686 .elementor-element.elementor-element-8cd2c6d {
    text-align: left;
}

.elementor-686 .elementor-element.elementor-element-8cd2c6d img {
    width: 100%;
    height: 60px;
}

.elementor-686 .elementor-element.elementor-element-adabdc6 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-686 .elementor-element.elementor-element-f3b7953>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 24px;
}

.elementor-686 .elementor-element.elementor-element-e9905fe .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 35px;
    line-height: 0.3em;
}

.elementor-686 .elementor-element.elementor-element-8f86cbb .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-686 .elementor-element.elementor-element-8e61afc .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-686 .elementor-element.elementor-element-402c669>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 24px;
}

.elementor-686 .elementor-element.elementor-element-f3afa35 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 35px;
    line-height: 0.3em;
}

.elementor-686 .elementor-element.elementor-element-1ef8c15 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-686 .elementor-element.elementor-element-30ad85b .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-bc-flex-widget .elementor-686 .elementor-element.elementor-element-1e64135.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-686 .elementor-element.elementor-element-1e64135.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-686 .elementor-element.elementor-element-1e64135.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-686 .elementor-element.elementor-element-14facce {
    --e-icon-list-icon-size: 14px;
}

.elementor-686 .elementor-element.elementor-element-14facce .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-686 .elementor-element.elementor-element-14facce .elementor-icon-list-item>a {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
}

.elementor-686 .elementor-element.elementor-element-b5bfb63 {
    padding: 40px 0px 40px 0px;
}

.elementor-bc-flex-widget .elementor-686 .elementor-element.elementor-element-5f7aad8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-686 .elementor-element.elementor-element-5f7aad8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-686 .elementor-element.elementor-element-5f7aad8.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-686 .elementor-element.elementor-element-1d25620 .elementor-heading-title {
    color: #3E3E3E;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-686 .elementor-element.elementor-element-1d25620 {
    width: auto;
    max-width: auto;
}

.elementor-686 .elementor-element.elementor-element-107ee0c .elementor-heading-title {
    color: #3E3E3E;
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-686 .elementor-element.elementor-element-107ee0c {
    width: auto;
    max-width: auto;
}

@media(max-width:1279px) {
    .elementor-686 .elementor-element.elementor-element-e9f84cc {
        padding: 40px 0px 64px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-160046e>.elementor-element-populated {
        padding: 0px 0px 56px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-adabdc6 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-8f86cbb .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-8e61afc .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-1ef8c15 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-30ad85b .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-1e64135.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-686 .elementor-element.elementor-element-1e64135>.elementor-element-populated {
        padding: 70px 0px 0px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-b5bfb63 {
        padding: 0px 0px 40px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-1d25620 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-107ee0c .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
}

@media(max-width:720px) {
    .elementor-686 .elementor-element.elementor-element-e9f84cc {
        padding: 48px 0px 48px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-160046e>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-adabdc6 .elementor-heading-title {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-f3b7953>.elementor-element-populated {
        padding: 0px 0px 48px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-8f86cbb .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-8e61afc .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-402c669>.elementor-element-populated {
        padding: 0px 0px 40px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-1ef8c15 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-30ad85b .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-1e64135.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-686 .elementor-element.elementor-element-b5bfb63 {
        padding: 0px 0px 48px 0px;
    }

    .elementor-686 .elementor-element.elementor-element-1d25620 .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-686 .elementor-element.elementor-element-107ee0c .elementor-heading-title {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }
}

@media(min-width:721px) {
    .elementor-686 .elementor-element.elementor-element-160046e {
        width: 45%;
    }

    .elementor-686 .elementor-element.elementor-element-f3b7953 {
        width: 20%;
    }

    .elementor-686 .elementor-element.elementor-element-402c669 {
        width: 16%;
    }

    .elementor-686 .elementor-element.elementor-element-1e64135 {
        width: 20.753%;
    }
}

@media(max-width:1279px) and (min-width:721px) {
    .elementor-686 .elementor-element.elementor-element-160046e {
        width: 100%;
    }

    .elementor-686 .elementor-element.elementor-element-f3b7953 {
        width: 50%;
    }

    .elementor-686 .elementor-element.elementor-element-402c669 {
        width: 50%;
    }

    .elementor-686 .elementor-element.elementor-element-1e64135 {
        width: 100%;
    }
}

/* Start custom CSS for neuron-site-logo, class: .elementor-element-8cd2c6d */
.elementor-686 .elementor-element.elementor-element-8cd2c6d a {
    display: block;
    float: left;
}

/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-14facce */
.elementor-686 .elementor-element.elementor-element-14facce .elementor-icon-list-item a {
    flex-direction: row-reverse !important;
}

.elementor-686 .elementor-element.elementor-element-14facce span {
    margin-left: 8px;
}

/* End custom CSS */