.elementor-422 .elementor-element.elementor-element-4a1c3bb>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-422 .elementor-element.elementor-element-4a1c3bb {
    padding: 2rem 0 1rem 0;
    z-index: 999;
}

.elementor-422 .elementor-element.elementor-element-ebcd828 img {
    height: 60px;
}

.elementor-422 .elementor-element.elementor-element-ebcd828 {
    width: auto;
    max-width: auto;
}

.elementor-bc-flex-widget .elementor-422 .elementor-element.elementor-element-08d0c5f.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-422 .elementor-element.elementor-element-08d0c5f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-422 .elementor-element.elementor-element-08d0c5f.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu .menu-item>a {
    color: var(--e-global-color-primary);
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu .menu-item.current-menu-item>a {
    color: var(--e-global-color-primary);
}

.elementor-422 .elementor-element.elementor-element-a32eee4.m-neuron-nav-menu--horizontal .m-neuron-nav-menu>ul>li:not(:last-child) {
    margin-right: 42px;
}

.elementor-422 .elementor-element.elementor-element-a32eee4:not(.m-neuron-nav-menu--horizontal) .m-neuron-nav-menu>ul>li:not(:last-child) {
    margin-bottom: 42px;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile ul li a,
.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu .sub-menu li a {
    font-family: var(--e-global-typography-accent-font-family), Sans-serif;
    font-size: var(--e-global-typography-accent-font-size);
    font-weight: var(--e-global-typography-accent-font-weight);
    line-height: var(--e-global-typography-accent-line-height);
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile ul li a {
    color: var(--e-global-color-secondary);
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu .sub-menu li a {
    color: var(--e-global-color-secondary);
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile ul li.current-menu-item a {
    color: var(--e-global-color-primary);
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu .sub-menu li.current-menu-item a {
    color: var(--e-global-color-primary);
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile>ul,
.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu>ul .sub-menu {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-dc99f8e);
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile>ul li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu>ul .sub-menu li {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile>.m-neuron-nav-menu__list {
    padding: 8px 8px 16px 8px;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu>.m-neuron-nav-menu__list li>.sub-menu {
    padding: 8px 8px 16px 8px;
}

.elementor-422 .elementor-element.elementor-element-a32eee4>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 48px 0px 0px;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 {
    width: auto;
    max-width: auto;
}

.elementor-422 .elementor-element.elementor-element-81f7062 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-422 .elementor-element.elementor-element-81f7062 .elementor-icon {
    font-size: 25px;
}

.elementor-422 .elementor-element.elementor-element-81f7062 .elementor-icon i,
.elementor-422 .elementor-element.elementor-element-81f7062 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-422 .elementor-element.elementor-element-81f7062 {
    width: auto;
    max-width: auto;
}

.elementor-422 .elementor-element.elementor-element-140b40b .elementor-icon-wrapper {
    text-align: center;
}

.elementor-422 .elementor-element.elementor-element-140b40b .elementor-icon i,
.elementor-422 .elementor-element.elementor-element-140b40b .elementor-icon svg {
    transform: rotate(0deg);
}

@media(max-width:1279px) {

    .elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile ul li a,
    .elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu .sub-menu li a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }
}

@media(max-width:720px) {
    .elementor-422 .elementor-element.elementor-element-a427f16 {
        width: 50%;
    }

    .elementor-422 .elementor-element.elementor-element-ebcd828 {
        text-align: left;
    }

    .elementor-422 .elementor-element.elementor-element-ebcd828 img {
        width: 70%;
    }

    .elementor-422 .elementor-element.elementor-element-08d0c5f {
        width: 50%;
    }

    .elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mobile ul li a,
    .elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu .sub-menu li a {
        font-size: var(--e-global-typography-accent-font-size);
        line-height: var(--e-global-typography-accent-line-height);
    }

    .elementor-422 .elementor-element.elementor-element-a32eee4>.elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-422 .elementor-element.elementor-element-140b40b .elementor-icon {
        font-size: 32px;
    }
}

/* Start custom CSS for neuron-nav-menu, class: .elementor-element-a32eee4 */
.elementor-422 .elementor-element.elementor-element-a32eee4 nav ul li:after {
    counter-increment: menu;
    content: counter(menu);
    font-weight: 400;
    font-size: 13px;
    color: #000000;
    position: absolute;
    top: -22px;
    left: 0;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .sub-menu li:after,
.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mega-menu li:after {
    display: none
}

.elementor-422 .elementor-element.elementor-element-a32eee4 nav ul li.features-menu:after {
    content: "•";
    font-size: 25px;
}


.elementor-422 .elementor-element.elementor-element-a32eee4 .sub-menu {
    min-width: 220px !important;
}

.elementor-422 .elementor-element.elementor-element-a32eee4 .m-neuron-nav-menu--mega-menu {
    margin-top: 20px;
}

/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-140b40b */
.elementor-422 .elementor-element.elementor-element-140b40b .elementor-icon {
    display: block;
    float: right;
}

/* End custom CSS */
/* Start custom CSS for section, class: .elementor-element-4a1c3bb */
.elementor-422 .elementor-element.elementor-element-4a1c3bb.neuron-sticky--effects {
    padding-top: 32px !important;
    padding-bottom: 24px !important;
    background-color: #FFF;
}

.elementor-422 .elementor-element.elementor-element-4a1c3bb {
    transition: padding .35s cubic-bezier(0.4, 0, 0.2, 1);
}

.elementor-422 .elementor-element.elementor-element-4a1c3bb {
    counter-reset: menu;
}

.elementor-422 header#main-head li a {
    display: block;
    padding: 0px 16px;
    text-decoration: none;
    font-family: var(--e-global-typography-text-font-family);
    font-size: var(--e-global-typography-text-font-size);
}

.elementor-422 header#main-head li a:hover {
    color: var(--e-global-color-accent2);
    transition: all ease-in-out 0.3s;
}

.elementor-422 div.nav-right li {
    display: inline-block;
}

.elementor-422 header#main-head {
    position: fixed;
    width: 100%;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    z-index: 9;
    background-color: var(--e-global-color-background);
}

.elementor-422 header#main-head ul {
    margin-bottom: 0;
    display: inline;
}

.elementor-422 header#main-head ul li a.menu-item-44  {
    display: none;
} 

.elementor-422 .nav-right {
    clear: none;
    float: right;
}

.elementor-422 #chkbtn {
    display: none;
}

.elementor-422 .logomark {
    width: 72px;
    height: 36px;
}

@media (max-width: 858px) {
    .elementor-422 #chkbtn {
        cursor: pointer;
        display: block;
    }

    .elementor-422 header#main-head {
        
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

      .elementor-422 header#main-head ul {
        display: block;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #222222;
        left: -100%;
        top: 0;
        transition: all .5s;
        overflow: hidden;
      }

      .elementor-422 header#main-head ul li {
        display: block;
        padding: 16px 0;
        margin-top: 32px;
      }

      .elementor-422 header#main-head ul li a {
        color: #ffffff;
      }

      .elementor-422 header#main-head ul li a.menu-item-44  {
        display: block;
    } 
}


/* End custom CSS */