.elementor-420 .elementor-element.elementor-element-afa4413 img {
    border-radius: 0px 0px 0px 0px;
}

.elementor-420 .elementor-element.elementor-element-1c80eda {
    padding: 56px 0px 0px 0px;
}

.elementor-420 .elementor-element.elementor-element-f401rts {
    margin-top: 4rem;
}

.elementor-420 .elementor-element.elementor-element-f321rts {
    margin-top: 2rem;
}

.elementor-420 .elementor-element.elementor-element-f241rts {
    margin-top: 1.5rem;
}

.elementor-420 .elementor-element.elementor-element-812qriu {
    padding: 16px 0px 0px 0px;
}

.elementor-420 .elementor-element.elementor-element-812qriu:nth-child {
    padding: 16px 0px;
}

.elementor-420 .elementor-element.elementor-element-78wghp0 {
    padding: 24px 0px;
}

.elementor-420 .elementor-element.elementor-element-eh682pw {
    padding: 40px 0px 0px 0px;
}

.elementor-420 .elementor-element.elementor-element-kl16thj {
    margin-bottom: 40px;
}

.elementor-bc-flex-widget .elementor-420 .elementor-element.elementor-element-2e1660a.elementor-column .elementor-widget-wrap {
    align-items: space-between;
}

.elementor-420 .elementor-element.elementor-element-2e1660a.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
}

.elementor-420 .elementor-element.elementor-element-2e1660a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 40px;
}

.elementor-420 .elementor-element.elementor-element-63ef70a {
    color: var(--e-global-color-primary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: var(--e-global-typography-primary-font-size);
    font-weight: var(--e-global-typography-primary-font-weight);
    line-height: var(--e-global-typography-primary-line-height);
}

.elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(8px/2);
}

.elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(8px/2);
}

.elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(8px/2);
    margin-left: calc(8px/2);
}

.elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-8px/2);
    margin-left: calc(-8px/2);
}

body.rtl .elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-8px/2);
}

body:not(.rtl) .elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-8px/2);
}

.elementor-420 .elementor-element.elementor-element-235036d {
    --e-icon-list-icon-size: 14px;
}

.elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-text {
    color: var(--e-global-color-primary);
}

.elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-item>a {
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-420 .elementor-element.elementor-element-4d684e1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 24px;
}

.elementor-420 .elementor-element.elementor-element-5ed5dc6 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-420 .elementor-element.elementor-element-a004f76 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-420 .elementor-element.elementor-element-d5e9e45 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-family: "Space Grotesk", Sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.43em;
}

.elementor-420 .elementor-element.elementor-element-d5e9e45>.elementor-widget-container {
    margin: 16px 0px 0px 0px;
}

.elementor-420 .elementor-element.elementor-element-8a81bf5 {
    padding: 0px 0px 88px 0px;
}

.elementor-420 .elementor-element.elementor-element-3f96268>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-420 .elementor-element.elementor-element-8ed578b>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 32px;
}

.elementor-420 .elementor-element.elementor-element-7e39216 {
    color: var(--e-global-color-secondary);
}

.elementor-420 .elementor-element.elementor-element-e49cd42 {
    color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-text-font-family), Sans-serif;
    font-size: var(--e-global-typography-text-font-size);
    font-weight: var(--e-global-typography-text-font-weight);
    line-height: var(--e-global-typography-text-line-height);
}

.elementor-420 .elementor-element.elementor-element-afa8dab .m-neuron-gallery__thumbnail--link {
    padding-bottom: calc(0.89 * 100%);
}

.elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid {
    margin-right: calc(-30px / 2);
    margin-left: calc(-30px / 2);
    margin-bottom: -30px;
}

.elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid .l-neuron-grid__item {
    padding-right: calc(30px / 2);
    padding-left: calc(30px / 2);
}

.elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid__item {
    margin-bottom: 30px;
}

.elementor-420 .elementor-element.elementor-element-afb81e7 {
    margin-top: 0rem;
    margin-bottom: 11.25rem;
}

.elementor-420 .elementor-element.elementor-element-967dd2f {
    padding: 11.25rem 0px 0px 0px;
}

.elementor-420 .elementor-element.elementor-element-po127aj {
    margin-top: 11.25rem;
    margin-bottom: 11.25rem;
}

.elementor-420 .elementor-element.elementor-element-563gf7k{
    margin-top: 11.25rem;
    margin-bottom: 0rem;
}

.elementor-420 .elementor-element.elementor-element-po127bg {
    padding: 11.25rem 0;
    background-color: var(--e-global-color-secondary-background);
}


@media(max-width:1279px) {
    .elementor-420 .elementor-element.elementor-element-1c80eda {
        padding: 56px 0px 56px 0px;
    }

    .elementor-420 .elementor-element.elementor-element-2e1660a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 48px;
    }

    .elementor-420 .elementor-element.elementor-element-63ef70a {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-4d684e1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 32px;
    }

    .elementor-420 .elementor-element.elementor-element-5ed5dc6 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-a004f76 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-d5e9e45 .elementor-heading-title {
        font-size: 13px;
    }

    .elementor-420 .elementor-element.elementor-element-8a81bf5 {
        padding: 0rem 0rem 0rem 0rem;
    }

    .elementor-420 .elementor-element.elementor-element-967dd2f {
        padding: 64px 0px 64px 0px;
    }

    .elementor-420 .elementor-element.elementor-element-e49cd42 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid {
        margin-right: calc(-24px / 2);
        margin-left: calc(-24px / 2);
        margin-bottom: -24px;
    }

    .elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid .l-neuron-grid__item {
        padding-right: calc(24px / 2);
        padding-left: calc(24px / 2);
    }

    .elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid__item {
        margin-bottom: 24px;
    }
}

@media(max-width:720px) {
    .elementor-420 .elementor-element.elementor-element-1c80eda {
        padding: 32px 0px 40px 0px;
    }

    .elementor-420 .elementor-element.elementor-element-2e1660a>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 32px;
    }

    .elementor-420 .elementor-element.elementor-element-2e1660a>.elementor-element-populated {
        margin: 0px 0px 32px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-420 .elementor-element.elementor-element-63ef70a {
        font-size: var(--e-global-typography-primary-font-size);
        line-height: var(--e-global-typography-primary-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-420 .elementor-element.elementor-element-235036d .elementor-icon-list-item>a {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-5ed5dc6 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-a004f76 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-d5e9e45 .elementor-heading-title {
        font-size: 13px;
    }

    .elementor-420 .elementor-element.elementor-element-8a81bf5 {
        padding: 0rem 0rem 0rem 0rem;
    }

    .elementor-420 .elementor-element.elementor-element-967dd2f {
        padding: 40px 0px 40px 0px;
    }

    .elementor-420 .elementor-element.elementor-element-e49cd42 {
        font-size: var(--e-global-typography-text-font-size);
        line-height: var(--e-global-typography-text-line-height);
    }

    .elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid {
        margin-bottom: -16px;
    }

    .elementor-420 .elementor-element.elementor-element-afa8dab .l-neuron-grid__item {
        margin-bottom: 16px;
    }
}

@media(min-width:721px) {

    .elementor-420 .elementor-element.elementor-element-ewr72ef ol {
        list-style-type: none;
        list-style-position: outside;
        counter-reset: section;
    }
    
    .elementor-420 .elementor-element.elementor-element-ewr72ef li {
        
        font-family: var(--e-global-typography-text-font-family);
        font-size: var(--e-global-typography-text-font-size);
        list-style-position: inside;
        padding-left:0;
        margin: 0.33em 0.5em 0.5em 0;
    }
    
    .elementor-420 .elementor-element.elementor-element-ewr72ef li:before {
        content: counter(section);
        counter-increment: section;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 8px 0px 0;
        border: 1px solid var(--e-global-color-accent2);
        border-radius: 100%;
        text-align: center;
        padding-top: 4px;
      }

    .elementor-420 .elementor-element.elementor-element-41774c0 {
        width: 24%;
    }

    .elementor-420 .elementor-element.elementor-element-8ed578b {
        width: 52%;
    }

    .elementor-420 .elementor-element.elementor-element-14cbed1 {
        width: 24%;
    }

    .elementor-420 .elementor-element.elementor-element-983asyv {
        width: 35%;
    }

    .elementor-420 .elementor-element.elementor-element-967dd2f {
        width: 100%;
    }
}

@media(max-width:1279px) and (min-width:721px) {
    .elementor-420 .elementor-element.elementor-element-41774c0 {
        width: 8%;
    }

    .elementor-420 .elementor-element.elementor-element-8ed578b {
        width: 84%;
    }

    .elementor-420 .elementor-element.elementor-element-14cbed1 {
        width: 8%;
    }
}

/* Start custom CSS for section,  class: .elementor-element-967dd2f */
@media (max-width: 720px) {
    /* 
    .elementor-420 .elementor-element.elementor-element-967dd2f.elementor-section-boxed .elementor-container {

        padding-left: 0 !important;

        padding-right: 0 !important;

    } */

    h2 {
        margin-bottom: 0;
    }

    .elementor-420 .elementor-element .elementor-element-93asd82 {
        padding: 0;
    }


    .elementor-420 .elementor-element.elementor-element-ure120p,
    .elementor-element-ctr50, .elementor-element-ctr65, .elementor-element-ctr33, .elementor-element-ctr25, .elementor-element-ctr35, .elementor-element-ctr75, .elementor-element-ctr40 {
        grid-row-gap: 24px !important;
        grid-column-gap: 0 !important;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.elementor-420 .elementor-element.elementor-element-967dd2f>.elementor-container {
    max-width: 801px;
}

.elementor-420 .elementor-element-00e1cdd {
    margin-top: var(--e-global-typography-6ea4055-font-size);
}

.elementor-420 .elementor-element-00e1cdd p {
    font-size: 16px;
    line-height: 1.75em;
}

.elementor-420 .elementor-element.elementor-element-5ed5dc6 li {
    margin: 12px 0 12px 0;
}



/* .elementor-420 .elementor-element .elementor-element-ewr72ef ul>li>span {
    display: inline-block;
    vertical-align: middle;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 12px;
    border: 1px solid var(--e-global-color-accent);
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
    margin-right: 20px;
    position: relative;
    color: var(--e-global-color-accent);
} */

.elementor-420 .elementor-element-63ef70a h5 {
    color: var(--e-global-color-8e54d07);
}

.elementor-420 .elementor-element.elementor-element-f0a67ec {
    text-align: center;
}

.elementor-420 .elementor-element-71b3405 h2 {
    font-family: var(--e-global-typography-accent-font-family);
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 2rem;
}
.elementor-420 .elementor-element-71b3405 blockquote {
    font-family: var(--e-global-typography-accent-font-family);
    font-size: 1rem;
    border-left: 0;
}


.no-padding {
    margin-bottom: 0;
}

.elementor-420 .elementor-element-71b3405 h3 {
    text-align: center;
    margin-bottom: 56px;
}

.elementor-420 .elementor-element.elementor-element-be1da50>.elementor-container {
    max-width: 700px;
}

.elementor-420 .elementor-element.elementor-element-be1da50 small {
    font-family: var(--e-global-typography-text-font-family);
    color: var(--e-global-color-accent);
}

.elementor-420 .elementor-element.elementor-element-be1da50 h4 {
    margin-bottom: 1rem;
    line-height: 130%;
}


.elementor-420 .elementor-element-283typv {
    background-color: var(--e-global-color-tertiary-background);
    padding: 100px 0;
    text-align: center;
    color: var(--e-global-color-white);
}

.elementor-420 .col-75 {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 75%;
}

.elementor-420 .col-75 h2.white {
    font-size: 1.75rem;
    line-height: 140%;
    font-family: var(--e-global-typography-accent-font-family);
    color: var(--e-global-color-white);
}

.elementor-420 .col-75 h2.black {
    font-size: 1.75rem;
    line-height: 140%;
    font-family: var(--e-global-typography-secondary-font-family);
    color: var(--e-global-color-primary);
}

.elementor-420 .elementor-element.elementor-element-pasdj93 {
    font-size: 1.75rem;
    line-height: 140%;
    background-color: var(--e-global-color-secondary-background);
    padding: 40px;
    font-family: var(--e-global-typography-accent-font-family);
    margin-top: 1.5rem;
    font-weight: 600;
}

.elementor-420 .elementor-element.elementor-element-pasdj93 div.pasd028 {
    border-left: solid 1px var(--e-global-color-secondary);
}

.elementor-420 .elementor-element.elementor-element-pasdj93 p {
    margin-left: 40px;
}

.elementor-420 .elementor-element.elementor-element-pasdj93 span {
    color: var(--e-global-color-9b3ed6a);
}

.elementor-420 .text-center {
    text-align: center;
}

/* tywe231*/

.elementor-420 .elementor-element.elementor-element-ctr90 {
    display: grid;
    grid-template-columns: 90% auto;
    grid-gap: 2rem;
    gap: 2rem;
}

.elementor-420 .elementor-element.elementor-element-ctr75 {
    display: grid;
    grid-template-columns: 75% auto;
    grid-gap: 2rem;
    gap: 2rem;
}

.elementor-420 .elementor-element.elementor-element-ctr25 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    gap: 2rem;
}

.elementor-420 .elementor-element.elementor-element-ctr33 {
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.elementor-420 .elementor-element.elementor-element-ctr35 {
    display: grid;
    grid-template-columns: 35% auto;
    grid-gap: 2rem;
    gap: 2rem;
}

.elementor-420 .elementor-element.elementor-element-ctr40 {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 2rem;
    gap: 2rem;
}

.elementor-420 .elementor-element.elementor-element-ctr50 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    gap: 2rem;
}

.elementor-420 .elementor-element.elementor-element-ctr65 {
    display: grid;
    grid-template-columns: 65% auto;
    grid-gap: 2rem;
    gap: 2rem;
}

.elementor-420 .span-1 {
    grid-column: auto / span 1;
}

.elementor-420 .elementor-element.elementor-element-5ed5dc6 h6.heading {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.elementor-420 .elementor-element.elementor-element-5ed5dc6 p.usp {
    margin-top: 2rem;
}

.elementor-420 .icon {
    max-width: 150px;
    max-height: 150px;
}

.elementor-420 img.smoothcorner {
    border-radius: 1rem;
}

.elementor-420 span.bolded {
    font-family: "SF Pro Text Bold";
}

.elementor-420 a:hover {
    color: var(--e-global-color-accent2);
    transition: all ease-in-out 0.5s;
}

.elementor-420 .elementor-element.elementor-element-948aodr {
    padding: 24px;
    background-color: var(--e-global-color-secondary-background);
}

.elementor-420 .elementor-element.elementor-element-948aodr h6 {
    font-family: var(--e-global-typography-accent-font-family);
    font-weight: 600;
}

.elementor-420 .elementor-element.elementor-element-948aodr ul {
    font-size: var(--e-global-typography-text-font-size);

}

.elementor-420 .elementor-element.elementor-element-948aodr li {
    margin-left: -1rem;
    padding-left: 0.5rem;
    font-family: "SF Pro Text Regular";
    color: var(--e-global-color-secondary);
    list-style-type: '➤';
}

.elementor-420 .elementor-element.elementor-element-5ed5dc6 .statistic-num {
    font-size: 3.75rem;
    line-height: normal;
    font-family: var(--e-global-typography-accent-font-family);
    font-weight: 700;
}

.elementor-420 .elementor-element.elementor-element-5ed5dc6 .statistic-text {
    font-size: 1.2rem;
    margin-top: 1.5rem;
}

.elementor-420 h6.top-number {
    font-size: 2rem;
    font-family: "SF Pro Text Regular";
}

.elementor-420 .elementor-element.elementor-element-71b3405 h4 {
    font-size: 1.125rem;
    font-family: "SF Pro Text Bold";
}

.elementor-420 .elementor-element.elementor-element-71b3405 li {
    padding: 0 !important;
    list-style-type: disc;

}

.elementor-420 .elementor-element.elementor-element-71b3405 ul {
    padding-left: 1rem !important;

}

@media (max-width: 858px) {
    ul.m-neuron-nav-menu__list {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: 0;
        transition: all .5s;
        border-style: solid;
        border-width: 1px 1px 1px 1px;
        border-color: var(--e-global-color-dc99f8e);
    }

    .elementor-420 .elementor-element .elementor-element-f401rts {
        margin-top: 2rem;
    }

}


.elementor-420 .elementor-element-twk197p {
    width: 100%;
    display:table;
    height:inherit;
}

.elementor-420 .elementor-element-twk197p div.row {
    width: 100%;
    height: 100%;
    display:table-row;
}

.elementor-420 .elementor-element-twk197p div.col-right {
    width: 40%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 2rem;
    font-size: 1rem;
}

.elementor-420 .elementor-element-twk197p div.col-left {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    padding-right: 2rem;
    border-right: 1px solid var(--e-global-color-twk197p);
}

/* End custom CSS */